body {
  background-color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0e0d0dc9;
  color: #fff;
  text-align: center;
  font-size: medium;
  font-weight: 500;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #363636 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.alert {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.authorship {
  position: absolute;
  bottom: 15px;
  left: 8px;
  color: white;
}

.loading {
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login {
  position: absolute !important;
  top: 15px;
  right: 8px;
}

.logo {
  height: 100px;
  user-select: none;
}

.logout {
  position: absolute !important;
  top: 15px;
  right: 8px;
}

.google-sign-in-panel {
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.online {
  color:lightgreen;
}

.main {
  height: 80vh;
  position: relative;
}

.messages-panel {
  overflow-y: auto;
  max-height: 600px;
  width: 600px;
}

.show-button {
  position: fixed !important;
  bottom: 16px;
  right: 16px;
}

.group-chat {
  z-index: 1000;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 700px;
  background-color: hsla(0,0%,13%,1) !important;
}

.message {
  display: flex;
  align-items: center;
  margin: 15px;
  color: white;
}

.messages-button-panel {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 12px;
}

.avatar {
  margin-right: 2px;
}

.text-field {
  flex: 1;
  width: 420px;
}

.messages-button {
  margin-left: 8px !important;
}
