body {
  background-color: black;
  margin: 0px;
}

.root {
  overflow-x: clip !important;
}

.online {
  color:lightgreen;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0e0d0dc9;
  color: #fff;
  text-align: center;
  font-size: medium;
  font-weight: 500;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #363636 transparent transparent transparent;
}

.alert {
  z-index: 2000;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.authorship {
  position: absolute;
  bottom: 15px;
  left: 8px;
  color: white;
}

.loading {
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login {
  position: absolute !important;
  top: 15px;
  right: 8px;
}

.logo {
  height: 70px;
  user-select: none;
  cursor: pointer;
}

.logout {
  position: absolute !important;
  top: 15px;
  right: 8px;
}

.google-sign-in-panel {
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main {
  position: relative;
}

.messages-panel {
  overflow-y: auto;
  max-height: 600px;
  width: 600px;
}

.show-button {
  position: fixed !important;
  bottom: 16px;
  right: 16px;
}

.group-chat {
  z-index: 1000;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 675px;
  background-color: hsla(0,0%,13%,1) !important;
}

.message {
  display: flex;
  align-items: center;
  margin: 15px;
  color: white;
  overflow-wrap: anywhere;
}

.messages-button-panel {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 12px;
}

.avatar {
  margin-right: 5px;
  align-self: baseline;
}

.text-field {
  flex: 1;
  width: 420px;
}

.messages-button {
  margin-left: 8px !important;
}

#message-label {
  color: white;
}

#message-box {
  color:white;
}

.policy {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.policy > div {
  width: 50%;
}

@media (max-width: 900px), (max-height: 500px) {
  .authorship {
    font-size: 0.5rem !important;
    bottom: 10px;
    left: 6px;
    color: white;
  }

  .logo {
    height: 50px;
  }

  .login {
    font-size: 0.5rem !important;
    top: 10px;
    right: 6px;
  }

  .alert {
    top: 8%;
  }

  .logout {
    font-size: 0.5rem !important;
    top: 10px;
    right: 6px;
  }

  .show-button {
    font-size: 0.5rem !important;
    bottom: 10px;
    right: 6px;
  }

  .messages-panel {
    overflow-y: auto;
    max-height: 90%;
    width: 100%;
  }

  .group-chat {
    bottom: 10px;
    right: 6px;
    width: 95%;
    height: 98%;
  }

  .message {
    font-size: 0.8rem !important;
    margin: 10px;
  }

  .messages-button-panel {
    font-size: 0.5rem !important;
    width: 95%;
    bottom: 5px;
  }

  .messages-button {
    font-size: 0.7rem !important;
    margin-left: 4px !important;
  }

  #message-label {
    font-size: 0.7rem !important;
  }

  #message-box {
    font-size: 0.7rem !important;
  }

  .hide-button {
    font-size: 0.5rem !important;
    position: fixed !important;
    top: 10px;
    right: 10px;
  }

}