body {
  background-color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0e0d0dc9;
  color: #fff;
  text-align: center;
  font-size: medium;
  font-weight: 500;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #363636 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.alert {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.authorship {
  position: absolute;
  bottom: 15px;
  left: 8px;
  color: white;
}

.loading {
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login {
  position: absolute !important;
  top: 15px;
  right: 8px;
}

.logo {
  height: 100px;
  user-select: none;
}

.logout {
  position: absolute !important;
  top: 15px;
  right: 8px;
}

.google-sign-in-panel {
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
